<form nz-form class="form-add" [formGroup]="formAdd" (ngSubmit)="submitForm()" >
  <nz-form-item>
    <nz-form-control nzErrorTip="Please input your photo title!">
      <nz-input-group>
        <label for="title">Title:</label>
        <input type="text" #title nz-input formControlName="title" required placeholder="Eg: Wow nature..." />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control nzErrorTip="Please input your Password!">
      <label for="Category">Category:</label>
      <nz-select nzShowSearch nzAllowClear nzPlaceHolder="What's your photo category?" formControlName="category">
        <nz-option *ngFor="let option of categories" [nzValue]="option.label" [nzLabel]="option.label"  ></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control nzErrorTip="Please input your photo!">
      <label for="photo">Photo:</label>
      <input type="text" #title nz-input formControlName="url_image" required placeholder="https://..."/>
      <div class="image">
        <img [src]="getUrlImage" alt="">
      </div>
    </nz-form-control>
  </nz-form-item>
  <nz-button-group>
    <button nz-button routerLink="/photo-app" >Cancel</button>
    <button nz-button nzType="primary" (click)="submitForm()">OK</button>
  </nz-button-group>
</form>
