<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <app-drawer></app-drawer>
    <ul nz-menu nzTheme="dark" class="logout" (click)="showDeleteConfirm()">
      <li nz-menu-item nzMatchRouter>
        <i nz-icon nzType="export" nzTheme="outline"></i>
        <a>logout</a>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <app-bar></app-bar>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <app-view></app-view>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
